body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-socials, .mobile-contacts, .mobile-nav, .portfolio__button-list, .team__list, .specialties__list, .features, .page-header__contact-info, .page-header__nav-list, .grid {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal__agree-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid__item {
  background-color: #ffffff;
}

.project__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__descr {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project__bordered-part {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__logo-black-part {
  color: #000000;
}

.logo__logo-white-part {
  color: #ffffff;
}

.page-header__nav-list {
  gap: 48px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .page-header__nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-header__nav-list {
    margin-left: 88px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__nav-list {
    margin-left: 92px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__contact-info {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-header__contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contact-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__studio-link,
.page-header__portfolio-link,
.page-header__nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__studio-link--active,
.page-header__portfolio-link--active,
.page-header__nav-link--active {
  color: #2196f3;
  position: relative;
}

.page-header__studio-link--active::after {
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(32px);
}

.page-header__portfolio-link--active::after {
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  width: 78px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(32px);
}

@media screen and (max-width: 1199px) {
  .page-header__studio-link:active,
.page-header__portfolio-link:active,
.page-header__nav-link:active,
.page-header__tel:active,
.page-header__e-mail:active {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__studio-link:hover,
.page-header__studio-link:focus,
.page-header__portfolio-link:hover,
.page-header__portfolio-link:focus,
.page-header__nav-link:focus,
.page-header__nav-link:hover,
.page-header__e-mail:focus,
.page-header__e-mail:hover,
.page-header__tel:focus,
.page-header__tel:hover {
    color: #2196f3;
  }
}

.page-header__e-mail,
.page-header__tel {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .page-header__e-mail,
.page-header__tel {
    font-size: 14px;
    line-height: 1.14;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.page-header__icon-mail,
.page-header__icon-tel {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .page-header__icon-mail,
.page-header__icon-tel {
    margin-right: 10px;
  }
}

.page-header__icon-mail {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .page-header__icon-mail {
    width: 16px;
    height: 12px;
  }
}

.page-header__icon-tel {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .page-header__icon-tel {
    width: 10px;
    height: 16px;
  }
}

.hero__title {
  color: #ffffff;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.button.hero__order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button.hero__order-button {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hero__wrapper {
  text-align: center;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    margin: 0 auto;
    background-size: 478px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero-bkg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero-bkg@2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    max-width: 768px;
    background-size: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero-bkg.jpeg);
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero-bkg@2x.jpeg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin: 0 auto;
    max-width: 1600px;
    background-size: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero-bkg.jpeg);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero-bkg@2x.jpeg);
  }
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__descr {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.specialties {
  display: none;
}

.specialties__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.specialties__list {
  display: flex;
}

.specialties__item:not(:first-child) {
  margin-left: 30px;
}

.specialties__wrapper {
  position: relative;
}

.specialties__descr {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.specialties {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .specialties {
    display: block;
  }
}

.team {
  background-color: #f5f4fa;
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    line-height: 1.16;
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__member {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__wrapper {
  padding: 24px 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    padding: 30px 10px;
  }
}

.team__member-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__member-prof {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.socials__ico {
  fill: currentColor;
}

.socials__link--inverted {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.clients__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients__item:active {
    color: #2196f3;
    border-color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__item:hover, .clients__item:focus {
    color: #2196f3;
    border-color: #2196f3;
  }
}

.clients__ico {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .page-footer__links-wrapper {
    margin: 60px 0;
  }
  .page-footer__wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .page-footer__contacts {
    flex-basis: 242px;
    margin-right: 165px;
    margin-left: 61px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (max-width: 1199px) {
  .page-footer__form {
    margin: 0 auto;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__links-wrapper {
    text-align: center;
  }
}
.page-footer__address {
  font-style: normal;
  margin-top: 20px;
}

.page-footer__contact:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .page-footer__contact:not(:last-child) {
    margin-bottom: 9px;
  }
}

.page-footer__street-adr {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .page-footer__contact-item:active {
    color: #2196f3;
  }
}

.page-footer__contact-item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .page-footer__contact-item:hover,
.page-footer__contact-item:focus {
    color: #2196f3;
  }
  .page-footer__contact-item {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.page-footer__links-descr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.page-footer__form-label {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    align-items: baseline;
  }
  .page-footer__form {
    margin-left: auto;
  }
  .subscr-form {
    display: flex;
  }
  .page-footer__links-wrapper {
    margin-left: 70px;
  }
  .subscr-form__input {
    width: 358px;
  }
}
@media screen and (max-width: 1199px) {
  .subscr-form {
    display: flex;
    flex-direction: column;
  }
}

.subscr-form__input {
  padding: 15px 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .subscr-form__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscr-form__input {
    min-width: 450px;
  }
}
.subscr-form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.button.subscr-form__button {
  background-color: #2196f3;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  min-width: 200px;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .button.subscr-form__button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .button.subscr-form__button {
    margin-left: 12px;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.modal__close-btn:hover .modal__close-btn-ico,
.modal__close-btn:focus .modal__close-btn-ico {
  fill: #2196f3;
}

.modal__close-btn-ico {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.01em;
}

.modal__field-wrapper {
  position: relative;
}

.modal__input {
  padding: 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__field-ico {
  fill: #212121;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__field-ico {
  fill: #2196f3;
}

.modal__field-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal__field-text:focus {
  outline: none;
  border-color: #2196f3;
}
.modal__field-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal__field-text::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal__agree-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__agree-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-color);
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__agree-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__agree-input:checked + .modal__agree-label .modal__check-ico {
  background-color: #2196f3;
}

.modal__check-ico {
  display: inline-flex;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.modal__agree-input:checked + .modal__agree-label .modal__not-checked-ico {
  opacity: 0;
}

.modal__not-checked-ico {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checked-ico {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__agree-input:checked + .modal__agree-label .modal__checked-ico {
  opacity: 1;
}

.modal__condit {
  color: #2196f3;
}

.button.modal__submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 30px;
}

.modal__comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.portfolio__button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__button-list {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__button-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.portfolio__button {
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
}
@media screen and (max-width: 767px), (min-width: 768px) {
  .portfolio__button:active {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__button {
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__button:hover, .portfolio__button:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.grid__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .grid__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .grid__item:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 1200px) {
  .grid__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .grid__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__wrapper {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .project__overlay {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .project__overlay {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (max-width: 1199px) {
  .grid__item:active .project__overlay {
    transform: translateY(0);
  }
}
@media screen and (min-width: 1200px) {
  .grid__item:hover .project__overlay {
    transform: translateY(0);
    padding: 63px 24px;
  }
}
.js-menu-container.is-open {
  z-index: 10;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  border: none;
  background-color: transparent;
  transition: color 250ms;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn:active {
  color: #2196f3;
}

.menu-btn-icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: transform 400ms;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-nav-link {
  text-decoration: none;
  color: #212121;
}
.mobile-nav-link:active {
  color: #2196f3;
}
.mobile-nav-item:nth-child(2) {
  margin-top: 36px;
  margin-bottom: 32px;
}

.mobile-contacts-item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-socials {
  display: flex;
  margin-top: 64px;
  gap: 10px;
}
.mobile-socials-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  letter-spacing: 0.02em;
}
.mobile-socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}/*# sourceMappingURL=main.css.map */