.features {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
  &__item {
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}
.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__icon {
  @include centered-flex;
  background-color: $portfolio-btn-bkg;
  margin-bottom: 30px;
  height: 120px;
}
.features__title {
  color: $black-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__descr {
  color: $main-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
