// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   background-color: $hero-block-bkg;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/bkg-img.jpg);
//   background-size: 1600px;
//   background-repeat: no-repeat;
//   background-position: center;
//   max-width: 1600px;
//   margin: 0 auto;
// }
// .hero__wrapper {
//   text-align: center;
// }
// .hero__title {
//   color: $white-color;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   margin-bottom: 30px;
//   width: 696px;
//   margin-left: auto;
//   margin-right: auto;
// }
// .button.hero__order-button {
//   background-color: $accent-color;
//   color: $white-color;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   cursor: pointer;
//   text-align: center;
//   letter-spacing: 0.06em;
//   padding: 10px 32px;
//   border: 0;
//   border-radius: 4px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }
// .button.hero__order-button {
//   background-color: $accent-color;
//   color: $white-color;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   cursor: pointer;
//   text-align: center;
//   letter-spacing: 0.06em;
//   padding: 10px 32px;
//   border: 0;
//   border-radius: 4px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }

//   padding-top: 200px;
//   padding-bottom: 200px;
//   background-color: $hero-block-bkg;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/bkg-img.jpg);
//   background-size: 1600px;
//   background-repeat: no-repeat;
//   background-position: center;
//   max-width: 1600px;
//   margin: 0 auto;
// 
.hero__title {
  color: $white-color;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.button.hero__order-button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
padding-left: 24px;
padding-right: 24px;
padding-top: 10px;
padding-bottom: 10px;
  border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;
        color: $white-color;
          cursor: pointer;
        @media screen and (min-width:1200px) {
          padding-left: 32px;
          padding-right: 32px;
        }

}
.hero__wrapper {
    text-align: center;
}


  .hero{
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $hero-block-bkg;
    @media screen and (min-width:1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }