.page-header__nav-list {
  gap: 48px;
  @extend %list;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 92px;
  }
}
.page-header__contact-info {
  @extend %list;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__nav {
  display: flex;
  align-items: center;
}
.page-header__studio-link,
.page-header__portfolio-link,
.page-header__nav-link {
  color: $black-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &--active {
    color: $accent-color;
    position: relative;
  }
}
.page-header__studio-link--active::after {
  content: '';
  background-color: $accent-color;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(+32px);
}
.page-header__portfolio-link--active::after {
  content: '';
  background-color: $accent-color;
  border-radius: 2px;
  width: 78px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(+32px);
}

.page-header__studio-link:active,
.page-header__portfolio-link:active,
.page-header__nav-link:active,
.page-header__tel:active,
.page-header__e-mail:active {
  @media screen and (max-width: 1199px) {
    color: $accent-color;
  }
}

.page-header__studio-link:hover,
.page-header__studio-link:focus,
.page-header__portfolio-link:hover,
.page-header__portfolio-link:focus,
.page-header__nav-link:focus,
.page-header__nav-link:hover,
.page-header__e-mail:focus,
.page-header__e-mail:hover,
.page-header__tel:focus,
.page-header__tel:hover {
  @media screen and (min-width: 1200px) {
    color: $accent-color;
  }
}
.page-header__e-mail,
.page-header__tel {
  display: flex;
  align-items: center;
  color: $main-color;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.16;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.page-header__icon-mail,
.page-header__icon-tel {
  fill: currentColor;
  margin-right: 8px;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.page-header__icon-mail {
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.page-header__icon-tel {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
