.specialties {
  display: none;
}
.specialties__title {
  color: $black-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.specialties__list {
  @extend %list;
  display: flex;
}
.specialties__item:not(:first-child) {
  margin-left: 30px;
}
.specialties__wrapper {
  position: relative;
}
.specialties__descr {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  padding: 27px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.specialties {
  @media screen and (min-width: 1200px) {
    display: block;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}
