%list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Grid style
%grid {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
%grid-item {
  background-color: #ffffff;
}
%grid-item-title {
  color: $black-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

%grid-item-descr {
  color: $main-color;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

%grid-item-bordered-part {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
