$accent-color: #2196f3;
$white-color: #ffffff;
$main-color: #757575;
$black-color: #212121;
$logo-black-part: #000000;
$greyish-white: rgba(255, 255, 255, 0.6);
$portfolio-btn-bkg: #f5f4fa;
$hero-block-bkg: #2f303a;
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
